{{page-title "Index"}}

<div class="flex-container m-5">
  <div class="row">
    {{#each this.categories as |category|}}
      <div class="col-md-4 category">
        <h3 class="text-center">{{category}}</h3>
        {{#each this.model as |todo|}}
        {{#if (eq todo.status category)}}
          <TodoCard
            @id={{todo.id}}
            @title={{todo.title}}
            @description={{todo.description}}
            @status={{todo.status}}
            @delete={{this.deleteTodo}}
            @update={{this.updateTodo}} />
        {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
  <br>
  <LinkTo @route="form">Add Todo</LinkTo> 
</div>