{{page-title "Index"}}

<div class="container">
  <h1>Task Manager</h1>
  {{#each this.model as |todo|}}
    <div class="card">
      <div class="card-title">
          <b>{{todo.title}}</b> ({{todo.status}})
      </div>
      <p>id: {{todo.id}}</p>
      <p>{{todo.description}}</p>
      <button type="button" {{on "click" (fn this.deleteTodo todo.id)}}>Delete</button>
    </div>
  {{/each}}

  <br>
  <LinkTo @route="form">Add Todo</LinkTo> 
</div>